@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@300&display=swap');

//fonts
$header-font: 'Raleway', sans-serif;
$main-font: 'Open Sans', sans-serif;
$basic-font: 'Open Sans', sans-serif;
$btn-font: 'Open Sans', sans-serif;

//colors
$font-color: #2A3550;
$scond-color: #697397;
$btn-color: #437FF1;
$btn2-color: #bed6fb;
$base-color: #F3F8FA;
$white: #fff;
$dark-gray: #333f48;


//breakpoints
$break-point: 1001px;
$smaller_point: 800px;
$small-point: 600px;
$mobile_point: 650px;
$point_2: 520px;

*, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: 'smoothe';
    box-sizing: border-box;
}

body {
    font-family: $basic-font;
}