@import "./base.scss";

.main {   
    margin-top: 30px;
    
    h1 {       
        text-align: center;
        font-family: $main-font;
        font-size: 40px;
        letter-spacing: 5px;
        border-style:solid;
        width: 300px;
        margin: 10px auto;
        border-color: $btn2-color;
        border-width: thin;
        box-shadow: -3px 3px $btn2-color;
        border-radius: 10px;        
    }
    
    form {
        
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        background-color: $base-color;
        margin: 10px 10px;
        padding: 10px 0 10px 0;
        
        .place {
            display: block;
            margin: 20px 0;

        }

        .dates {
            display: flex;
            flex-direction: row;

            .start {
                margin-right: 20px;
            }
            .end {
                margin-left: 20px;
            }
        }
        span {
            label {
                
                font-size: 34px;
                font-weight: 600;
                color: $font-color;
            }

            label:nth-of-type(2) {
                margin-left: 40px;
            }
            
            input { 
                border-color: $scond-color;
                border-style: solid;
                border-radius: 4px;
                width: 240px;
                height: 40px;
                padding: 10px;
                margin-left: 10px;
                font-size: 15px;
                overflow: hidden;   
            }

        }
        
        .btns {
            margin:  40px auto;

            .btn { 
                cursor: pointer;
                font-size: 20px;
                letter-spacing: 2px;
                margin: 20px 20px;
                border-radius: 40px;
                font-family: $btn-font;
                text-align: center;
                text-transform: capitalize;
                padding: 7px;
            }
            
            .submit {
                background-color: $btn-color;
                color: $base-color;
                width: 180px;
                height: 50px;
                border-color: $btn-color;
                border-radius: 40px;
            }

            .submit:hover {
                background-color: $base-color;
                color: $btn-color;
                border-color: $scond-color;
            }
            .btn-reset {
                background-color: $white;
                width: 180px;
                height: 50px;
                color: $btn-color;
                border-color: $btn-color;
                
            }
            .btn-reset:hover {
                color: $white;
                background-color: $btn-color;
                border-color: $btn-color;
            }
        }
    }  
}